@model GlobalConfig
@section Scripts
{
    <script src="@Url.Content("~/js/ConfigScript.js")"></script>
}
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <label>Time :</label>
        <div id="time">0</div>
    </div>
    <div>
        <label>Current Open :</label>
        <div id="cur">A</div>
    </div>
    <div>
        <label>Next Open :</label>
        <div id="nxt"></div>
    </div>
    <div>
        <label asp-for="Direction"></label>
        <div id="dir">Clockwise</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <Button>AA</Button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <button>A</button>
            </div>
        </div>

        <div class="row">
            <div class="col-4 ">
                <Button>AD</Button>
                <button>D</button>
            </div>
            <div class="col-4 ">
                <Button>AB</Button>
                <button>B</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <Button>AC</Button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <button>C</button>
            </div>
        </div>
    </div>
    <div>
        <label>Remaining Time :</label>
        <div id="rtime"></div>
    </div>
</div>

